h1{
    margin:48px;
    font: 48px;
}
h2{
    margin:48px;
    font: 48px;
}
p{
    margin:32px 32px;
}
img{
    width: 335px;
    height: 225px;
}   
#bigcloud, #humidity, #windspeed, #temp{
    width: 600px;
    height: 400px;
}

table {
    margin: 0px 50px;
  }