h1{
    margin:48px;
    font: 48px;
    text-align: center;
}
h2{
    margin:48px;
    font: 48px;
    text-align: center;
}
p{
    margin:32px 32px;
}
img{
    padding: 5px;
    width: 255px;
    height: 155px;
    margin: 10px;
}   
#bigcloud, #humidity, #windspeed, #temp{
    width: 500px;
    height: 325px;
    margin-bottom: 20px;
}

table {
    margin: 0px 50px;
  }
 
  #comp_cloud, #comp_humid, #comp_temp, #comp_windspeed{
    width: 500px;
    height: 350px;
    margin-bottom: 20px;
  }
.container{
    background-color:rgba(132, 210, 230, 0.25);
}

.activeImg{
    padding: 5px;
    border:solid;
    border-color:blue;
}